<% if false %>
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="tab-pane fade" id="signup" role="tabpanel">
  <form autocomplete="off" id="signup-form">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Full Name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Confirm Password" required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
    <p class="text-muted text-sm mt-4">OR sign up with your social account</p>
    <a class="media-btn media-facebook" href="#"><i class="socicon-facebook"></i><span>Signup with Facebook</span></a>
    <%= link_to user_google_oauth2_omniauth_authorize_path, :class => "media-btn media-google" do %> <i class="socicon-googleplus"></i><span>Signup with Google+</span> <%end%>
    <%= link_to user_twitter_omniauth_authorize_path, :class => "media-btn media-twitter" do %> <i class="socicon-twitter"></i><span>Signup with Twitter</span> <%end%>
    <%= link_to user_line_omniauth_authorize_path, :class => "media-btn media-line" do %> <i class="fab fa-line"></i><span>Signup with Line</span> <%end%>
    <%= link_to user_kakao_omniauth_authorize_path, :class => "media-btn media-kakao" do %> <i><%= image_tag "kakaolink_btn_small.png", size: "20"%></i><span style="color: #4d3031;font-weight:550">Signup with Kakao</span> <%end%>
  </form>
</div>
<% end %>

<div class="tab-pane fade" id="signup" role="tabpanel">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "signup-form", autocomplete: "off" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control", id: "signup-email"}, placeholder: "Email", label: false %>
    </div>
    <div class="form-group">
      <%= f.input :password, required: true, input_html: {class: "form-control", id: "signup-password"}, placeholder: "Password", label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation, required: true, input_html: {class: "form-control"}, placeholder: "Confirm Password", label: false %>
    </div>
    <div class="form-group">
      <%= f.input :name, input_html: {class: "form-control", id: "signup-name"}, placeholder: "Name", label: false %>
    </div>
    <div class="form-group">
      <%= f.input :tel, input_html: {class: "form-control", id: "signup-tel"}, placeholder: "Tel", label: false %>
    </div>
    <div class="form-group">
      <%= f.input :addr, input_html: {class: "form-control", id: "signup-addr"}, placeholder: "Addr", label: false %>
    </div>
    <div class="form-group">
      <%= f.input :postcode, input_html: {class: "form-control", id: "signup-postcode"}, placeholder: "Postcode", label: false %>
    </div>


    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
    </div>
    <p class="text-muted text-sm mt-4">OR sign up with your social account</p>
    <a class="media-btn media-facebook" href="#"><i class="socicon-facebook"></i><span>Signup with Facebook</span></a>
    <%= link_to user_google_oauth2_omniauth_authorize_path, :class => "media-btn media-google" do %> <i class="socicon-googleplus"></i><span>Signup with Google+</span> <%end%>
    <%= link_to user_twitter_omniauth_authorize_path, :class => "media-btn media-twitter" do %> <i class="socicon-twitter"></i><span>Signup with Twitter</span> <%end%>
    <%= link_to user_line_omniauth_authorize_path, :class => "media-btn media-line" do %> <i class="fab fa-line"></i><span>Signup with Line</span> <%end%>
    <%= link_to user_kakao_omniauth_authorize_path, :class => "media-btn media-kakao" do %> <i><%= image_tag "kakaolink_btn_small.png", size: "20"%></i><span style="color: #4d3031;font-weight:550">Signup with Kakao</span> <%end%>
  <% end %>
</div>
