<script>
// 사진위 edit버튼을 누르면 f.file_field를 실행시킨다.
  $(function(){
    $(".edit-avatar").on('click', function(e){
      e.preventDefault();
      $(".upload:hidden").trigger('click');
    });

// 사진을 수정하면 바로 사진이 변경된다. 저장은 안됨
    function readURL(input){
      if (input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e){
          $('.img_preview').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(".upload").change(function(){
      $(".img_preview").removeClass('hidden');
      readURL(this);
    });
  });
</script>

<% if false %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(img/account/user-cover-img.jpg);">
          <div class="info-label" data-toggle="tooltip" title="You currently have 622 Reward Points to spend"><i class="material-icons redeem"></i>622 points</div>
        </div>
        <div class="user-info">
          <div class="user-avatar"><a class="edit-avatar" href=""><i class="material-icons edit"></i>Edit</a><img src="img/account/user-ava.jpg" alt="User"></div>
          <div class="user-data">
            <h5>Daniel Adams</h5><span>Joined February 06, 2017</span>
          </div>
        </div>
      </aside>
      <nav class="list-group"><a class="list-group-item with-badge" href="account-orders.html"><i class="icon-bag"></i>Orders<span class="badge badge-default badge-pill">6</span></a><a class="list-group-item active" href="account-profile.html"><i class="icon-head"></i>Profile</a><a class="list-group-item" href="account-address.html"><i class="icon-map"></i>Addresses</a><a class="list-group-item with-badge" href="account-wishlist.html"><i class="icon-heart"></i>Wishlist<span class="badge badge-default badge-pill">3</span></a><a class="list-group-item with-badge" href="account-tickets.html"><i class="icon-tag"></i>My Tickets<span class="badge badge-default badge-pill">4</span></a></nav>
    </div>
    <div class="col-lg-8">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>
      <form class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-fn">First Name</label>
            <input class="form-control" type="text" id="account-fn" value="Daniel" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-ln">Last Name</label>
            <input class="form-control" type="text" id="account-ln" value="Adams" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-email">E-mail Address</label>
            <input class="form-control" type="email" id="account-email" value="daniel.adams@mail.com" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-phone">Phone Number</label>
            <input class="form-control" type="text" id="account-phone" value="+7(805) 348 95 72" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-pass">New Password</label>
            <input class="form-control" type="password" id="account-pass">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-confirm-pass">Confirm Password</label>
            <input class="form-control" type="password" id="account-confirm-pass">
          </div>
        </div>
        <div class="col-12">
          <hr class="mt-2 mb-3">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="custom-control custom-checkbox d-block">
              <input class="custom-control-input" type="checkbox" id="subscribe_me" checked>
              <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
            </div>
            <button class="btn btn-primary margin-right-none" type="button" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-circle-check" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>
<!-- Page Title-->
<div class="page-title">
  <div class="container">
    <h1>My Profile</h1>
    <ul class="breadcrumbs">
      <li><a href="index.html">Home</a>
      </li>
      <li class="separator">&nbsp;/&nbsp;</li>
      <li><a href="account-orders.html">Account</a>
      </li>
      <li class="separator">&nbsp;/&nbsp;</li>
      <li>My Profile</li>
    </ul>
  </div>
</div>
<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(<%= asset_path 'account/user-cover-img.jpg'%>);">
          <div class="info-label" data-toggle="tooltip" title="You currently have 622 Reward Points to spend"><i class="material-icons redeem"></i>622 points</div>
        </div>


          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "row" }) do |f| %>
            <%= f.error_notification %>
        <div class="user-info">
          <div class="user-avatar"><a class="edit-avatar" href=""><i class="material-icons edit"></i>Edit</a>
            <%= image_tag(current_user.profile_img_url, alt: "User", class: "img_preview") unless current_user.profile_img.blank? %>
            <%= image_tag("account/user.png", alt: "User", class: "img_preview") if current_user.profile_img.blank? %>
            <%= f.file_field :profile_img, class:"upload" %>
            <%= f.hidden_field :addr %>
          </div>
          <div class="user-data">
            <h5><%= resource.name %></h5><span>Joined <%=resource.created_at.strftime("%B %d, %Y")%></span>
            <!-- February 06, 2017 -->
          </div>
        </div>
      </aside>
      <nav class="list-group"><a class="list-group-item with-badge" href="account-orders.html"><i class="icon-bag"></i>Orders<span class="badge badge-default badge-pill">6</span></a><a class="list-group-item active" href="account-profile.html"><i class="icon-head"></i>Profile</a><a class="list-group-item" href="account-address.html"><i class="icon-map"></i>Addresses</a><a class="list-group-item with-badge" href="account-wishlist.html"><i class="icon-heart"></i>Wishlist<span class="badge badge-default badge-pill">3</span></a><a class="list-group-item with-badge" href="account-tickets.html"><i class="icon-tag"></i>My Tickets<span class="badge badge-default badge-pill">4</span></a></nav>
    </div>
    <div class="col-lg-4">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>

          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "E-mail Address",for: "account-email" %>
              <%= f.input :email, required: true, autofocus: true, label: false, input_html: {class: "form-control", id: "account-email"}, disabled: true %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "New Password", for: "account-pass"%>
              <%= f.input :password, autocomplete: "off", label: false, hint: "leave it blank if you don't want to change it", required: false, input_html: {class: "form-control", id: "account-pass"} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Tel", for: "account-tel"%>
              <%= f.input :tel, label: false, required: true, input_html: {class: "form-control", id: "account-tel"} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Addrress", for: "account-addr"%>
              <%= f.input :addr, label: false, input_html: {class: "form-control", id: "account-addr"} %>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>

          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Name", for: "account-name"%>
              <%= f.input :name, label: false, input_html: {class: "form-control", id: "account-name"} %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Confirm Password", for: "account-confirm-pass"%>
              <%= f.input :password_confirmation, required: false, label: false, hint: "confirm password", input_html: {class: "form-control", id: "account-confirm-pass"} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Postcode", for: "account-postcode"%>
              <%= f.input :postcode, label: false, input_html: {class: "form-control", id: "account-postcode"} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label "Current Password", for: "account-current-pass"%>
              <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: false, input_html: {class: "form-control", id: "account-current-pass"} %>
            </div>
          </div>


    </div>
    <div class=" col-lg-8 ">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>

      <div class="col-12">
        <hr class="mt-2 mb-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div class="custom-control custom-checkbox d-block"></div>
          <%= f.button :submit, "Update", class: "btn btn-primary margin-right-none", input_html: {'data-toast': '', 'data-toast-position': "topRight", 'data-toast-type': "success", 'data-toast-icon': "icon-circle-check", 'data-toast-title': "Success!", 'data-toast-message': "Your profile updated successfuly."} %>
        </div>
      </div>

      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>

  </div>
</div>
