<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @celebrity.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @celebrity.company.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @celebrity.group.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @celebrity.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @celebrity.color %>
</p>

<p>
  <strong>지갑주소:</strong>
  <%= @celebrity.account.acc_num %>
</p>

<p>
  <strong>보유액:</strong>
  <%= @celebrity.account.balance %>
</p>
<p>
  <strong>거래기록 </strong>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Send</th>
        <th>Receive</th>
        <th>Amount<th>
        <th>잔고<th>
      </tr>
    </thead>

    <tbody>
      <% @trx.each do |t| %>
        <tr>
          <td><%= link_to t.target,{:controller => "transactions", :action => "account_inquiry", :acc => t.target} %></td>
          <td><%= t.remit %></td>
          <td><%= t.receive %></td>
          <td><%= t.amount %></td>
          <td><%= t.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<% if false %>
<!-- http://#{request.host+request.fullpath} -->
<!-- http://#{request.host}:#{request.port+request.fullpath} -> 포트번호중요할때 -->
<% end %>

<%= link_to '1만원', new_payment_path(amount: 10000, celeb: @celebrity, continue: "http://#{request.host}:#{request.port.to_s+request.fullpath}"), data: { modal: true } %>
<%= link_to '5만원', new_payment_path(amount: 50000, celeb: @celebrity, continue: "http://#{request.host}:#{request.port.to_s+request.fullpath}"), data: { modal: true } %>
<%= link_to '10만원', new_payment_path(amount: 100000, celeb: @celebrity, continue: "http://#{request.host}:#{request.port.to_s+request.fullpath}"), data: { modal: true } %>

<p>
  <strong>Celeb Wiki</strong>
  <%= render partial: "celeb_wikis/show", locals:{celeb: @celebrity} %>
</p>

<%= link_to 'Edit', edit_celebrity_path(@celebrity) %> |
<%= link_to 'Back', celebrities_path %>
