<% if false %>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>

<div class="tab-pane fade show active" id="login" role="tabpanel">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login-form", autocomplete: "off" }) do |f| %>
    <div class="form-group input-group">
      <%= f.input :email, autofocus: true, required: true, placeholder: "Email", label: false, input_html: {class: "form-control", id: "login-email"} %><span class="input-group-addon"><i class="material-icons mail"></i></span>
    </div>
    <div class="form-group input-group">
      <%= f.input :password, required: true, input_html: {class: "form-control", id: "login-password"}, placeholder: "Password", label: false %><span class="input-group-addon"><i class="material-icons lock"></i></span>
    </div>
    <div class="custom-control custom-checkbox form-group">
      <%= f.input_field  :remember_me, class: "custom-control-input", id: "logged", boolean_style: :inline, as: :boolean if devise_mapping.rememberable? %>
      <%= f.label "Keep me logged in", class: "custom-control-label", for: "logged" %>
    </div>
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
  <% end %>

  <!-- SNS 로그인 버튼 -->
  <a class="media-btn media-facebook" href="#"><i class="socicon-facebook"></i><span>Log in with Facebook</span></a>
  <%= link_to user_google_oauth2_omniauth_authorize_path, :class => "media-btn media-google" do %> <i class="socicon-googleplus"></i><span>Log in with Google+</span> <%end%>
  <%= link_to user_twitter_omniauth_authorize_path, :class => "media-btn media-twitter" do %> <i class="socicon-twitter"></i><span>Log in with Twitter</span> <%end%>
  <%= link_to user_line_omniauth_authorize_path, :class => "media-btn media-line" do %> <i class="fab fa-line"></i><span>Log in with Line</span> <%end%>
  <%= link_to user_kakao_omniauth_authorize_path, :class => "media-btn media-kakao" do %> <i><%= image_tag "kakaolink_btn_small.png", size: "20"%></i><span style="color: #4d3031;font-weight:550">Log in with Kakao</span> <%end%>

</div>
