<!DOCTYPE html>
<html>
  <head>
    <title>Trucks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <!-- SEO Meta Tags-->
    <meta name="description" content="Unishop - Universal E-Commerce Template">
    <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Rokaux">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= yield %>
    <div id="modal-holder"></div>
    <%= render "shared/footer" %>
  </body>
  <script>
      $(document).ready(function(){
        "<% unless notice.nil? or notice.empty? %>"
          iziToast.show({
            title: '알림',
            titleColor: '#84993A',
            message: "<%= notice %>",
            position: "topLeft",
            messageColor: '#84993A',
            icon: 'material-icons check',
            color: '#DFE8BE'
          })
        "<% end %>"
      });
  </script>
</html>
